h1 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-app {
    float: left;
}

.main-app button {
    margin-left: 5px;
    background-color: rgb(8, 243, 20);
    border: none;
    box-shadow: 0 0 5px rgb(186, 182, 182);
}

button:hover {
    cursor: pointer;
}

.title {
    margin-top: 10px;
    padding: 5px;
    width: 500px;
    background-color: rgb(211, 183, 189);
    color: white;
    border: 2px solid white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}